<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/add_post.css' %}">
    <title>Sign Up</title>
    <style>
        .container input[type=submit] {
            border-style: solid;
            width: 80%;
            background-color: teal;
            color: white;
            border-radius: .8em;
            font-size: 20px;
        }
        .container input[type=submit] :focus {
            border: none
        }
    </style>
</head>
<body>
    <br>
<div class="container">
<form method="POST" enctype="multipart/form-data">
    {{ form|crispy }}
    {% csrf_token %}
    <p class="text-center"><input type="submit" value="CREATE AN ACCOUNT" class="align-middle"></p>
</form>
 </div>
 <br>
</body>
</html>